.banner-slider {
    margin: 0;
    background-color: #f0f2f5;
    overflow: hidden;
    position: relative;
}

.banner-slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.banner-slider-placeholder {
    text-align: center;
    padding: 4rem 2rem;
    background-color: #eee;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-item {
    position: relative;
    min-height: 300px;
    max-height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: white;
    overflow: hidden;
    flex-shrink: 0;
}

.banner-item:hover {
    text-decoration: none;
}

.banner-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 70%);
    z-index: 2;
}

.banner-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 4;
}

.banner-dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
}

.banner-dot.active {
    background-color: white;
}

.banner-content {
    position: relative;
    z-index: 3;
    padding: 2rem 4rem;
    text-align: left;
    max-width: 50%;
}

.banner-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
}

.banner-content p {
    font-size: 1.1rem;
    color: #f8f9fa;
    margin-bottom: 2rem;
}

.banner-button {
    background-color: var(--primary-color);
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    font-family: sans-serif;
    cursor: pointer;
}

@media (max-width: 768px) {
    .banner-item {
        min-height: 200px;
        max-height: 200px;
    }
    .banner-content {
        padding: 1rem 1rem;
        text-align: left;
        max-width: 90%;
        margin-right: 40%;
    }
    .banner-content h2 {
        font-size: 1rem;
    }
    .banner-content p {
    font-size: 0.7rem;
    }
    .banner-button {
        padding: 0.5rem 1rem;
    }
}