.footer {
    padding: 4rem 1rem 1rem 1rem;
    border-top: 1px solid #dee2e6;
    margin-top: 2rem;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.footer-top {
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #495057;
}

.footer-top button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
    text-align: left;
}

.footer-section {
    flex: 1;
    min-width: 200px;
}

.footer-section h4 {
    margin-bottom: 1rem;
    color: #fff;
}

.footer-section a,
.footer-section p {
    color: #adb5bd;
    display: block;
    margin-bottom: 0.5rem;
}

.footer-section a:hover {
    color: #fff;
    text-decoration: none;
}

.trust-badges {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    align-items: center;
    margin-top: 1rem;
}

.trust-badges img {
    height: auto;
    width: 50px;
    object-fit: contain;
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #495057;
    color: #adb5bd;
    font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
    .trust-badges {
        gap: 0.5rem;
    }
}